/* * {
  border: solid 1px black;
} */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}

.top {
  background-color: #1f2937;
  display: flex;
  flex: 1;
}

.top-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 100px;
  max-width: 900px;
  margin-bottom: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  text-align: center;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

ul {
  display: flex;
  list-style: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.hero-section {
  display: flex;
  gap: 30px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.hero-left p {
  margin: 0;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-right {
  display: flex;
  flex: 1;
  background-color: grey;
}

.hero-right p {
  text-align: center;
  margin: auto;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  margin: 0;
}

.info-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #1f2937;
  padding-top: 10px;
  padding-bottom: 70px;
  gap: 15px;
}

h2 {
  font-size: 32px;
}

.info-content {
  display: flex;
  justify-content: center;
  gap: 20px 50px;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
}

.box {
  width: 150px;
  height: 150px;
  margin: 0;
  border-radius: 20px;
  border: solid 3px #3882f6;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 6px 22px;
  border-radius: 5px;
  border: 0;
}

.footer {
  background-color: #1f2937;
}
